/* Layout
   ========================================================================== */

html {
    font: 100%/1.5 "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Header
   ========================================================================== */

.intro {
    margin: 0;
    padding: 0 !important;
    background-color: #497bad !important;
    text-align: center;
}

.intro h1 {
    color: #fff !important;
    padding: .4rem .6rem;
    display: inline-block;
    font-size: 3.8rem !important;
    text-transform: uppercase;
    margin-bottom: 0;
}

.intro p {
    color: rgba(255,255,255,0.7);
    margin: 0 auto;
}

.intro a {
    color: rgba(255,255,255,0.9);
    text-decoration: underline;
}

.intro a:hover { text-decoration: none; }

/* Animate.css by Daniel Eden
   ========================================================================== */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
                                                                                                                                                                                                                                                                                                                                                                                                                                                     0% {
                                                                                                                                                                                                                                                                                                                                                                                                                                                         opacity: 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                         -webkit-transform: translateY(20px);
                                                                                                                                                                                                                                                                                                                                                                                                                                                     } 100% {
                                                                                                                                                                                                                                                                                                                                                                                                                                                           opacity: 1;
                                                                                                                                                                                                                                                                                                                                                                                                                                                           -webkit-transform: translateY(0);
                                                                                                                                                                                                                                                                                                                                                                                                                                                       }
                                                                                                                                                                                                                                                                                                                                                                                                                                                 }

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* Utilities
   ========================================================================== */

.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Lunchbot Stuff - Jakob
   ========================================================================== */

.navigation {
    float: right;
    margin-bottom: 20px;
}

    .navigation ul {
        list-style-type: none;
        display: inline;
    }

    .navigation ul li {
        display: inline-block;
        padding-left: 15px;
    }

    .navigation ul li a {
        display: block;
        padding: 4px 10px;
        text-decoration: none;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .navigation ul li a:hover {
        background-color: rgb(232, 250, 255);
    }

.user-welcome {
    float: left;
    border: none;
}

table a,
table a:link,
table a:visited {
    border:none;
}

table {
    width:90%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
}
caption {
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    caption-side:top;
    text-align:center;
}
tr.odd td	{
    background:#f7fbff
}
tr.odd .column1	{
    background:#f4f9fe;
}
.column1	{
    background:#f9fcfe;
}
td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
}
th {
    font-weight:normal;
    color: #678197;
    text-align:left;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
}
thead th {
    background:#f4f9fe;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3
}
tfoot th {
    text-align:center;
    background:#f4f9fe;
}
tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#66a3d3;
}
tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}

.info-bar {
    margin-top: -20px;
}

.table-myinfo td:nth-child(2) {
    width: 750px;
}

.lunchbot-alert {
    display: none;
}